<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron alert-danger">
            <h1>Oops... something went wrong.</h1>
            <h2 th:text="${status + ' ' + error + ' ' + message}"></h2>
        </div>
    </div>
</body>
</html>